# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# Frontend and backend folders (monorepo)
/frontend/.next/
/frontend/node_modules/
/backend/node_modules/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
# Ignore all env files but keep `.env.example` in the repo
.env*
!.env.example

# Editor and OS files
.vscode/
.idea/
Thumbs.db
/.DS_Store

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts